<template>
  <p>{{ greeting }}, This is the world's most fantastic component.</p>
</template>

<script>
export default {
    name: "Dummy Component",
    data(){
        return {
            greeting: 'Hello'
        }
    },
    methods:{

    }
}
</script>

<style>

</style>