<template>
    <div>
        <h3 v-show='display'>
            My name is {{ name }} and {{ name }} is {{ status }} 
        </h3>

        <br/>

        <div>
            <div>
                <label>Enter Your Name: </label>
                <input type="text" v-model="name">
            </div>

            <label>Awesome</label>
            <input v-model="status" type="radio" value="awesome">
            <br/>
            
            <label>Fabulous</label>
            <input v-model="status" type="radio" value="fabulous">
            <br/>

            <label>Excellent</label>
            <input v-model="status" type="radio" value="excellent">
            <br/>

            <button @click="submitData">Submit</button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'MyFirstComponent',
    data(){
        return {
            name: '',
            status: '',
            display: false,
        }
    },
    methods:{
        submitData(){
            this.display = true;
        }
    }
}
</script>

<style>
</style>
